.roomscontainer{
  margin-top: -40px;
  background-color: lavender;
  height: 90%;
  padding-top: -10px;
  
}
.cards-container {
  display: flex;
  flex-flow: row wrap;
  flex-wrap: wrap;
  
}
.roomsheader{
  font-family: 'Lato', sans-serif;
  font-size: 6rem;
  font-weight: bolder;
  text-align: center;
  margin: 30px;
  padding-top: 50px;
  
}

.roomspara{
  font-family: 'Lato', sans-serif;
  margin-top: 30px;
  text-align: center;
  font-size: 2.5rem;

}

@media screen and (max-width: 960px){
  .roomsheader{
    font-size: 2.5rem;
  }

  .roomspara{
    font-size: 1.5rem;
  }
  .cards-container{
    display: flex;
    justify-content: center;
  }
}
