
*
{
  box-sizing: border-box;
}

.roomscardtittle
{
  margin:0px;
  font-size:1.4em;
  font-weight:700;
  font-family: 'Lato', sans-serif;
}

.roomscarddescription
{
  font-size:1rem;
  font-family: 'Lato', sans-serif;
}

.cardcontainer
{
  width:100%;
  display: flex;
  justify-content: space-evenly;
  justify-items: center;
  margin-left: 30px;
  margin-top: 80px;
  margin-bottom: 80px;
}

/* End Non-Essential  */

.property-card
{
  height:18em;
  width:14em;
  display:flex;
  position:relative;
  transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  border-radius:16px;
  overflow:hidden;
  margin-bottom: -50px;
 
  

}
/* ^-- The margin bottom is necessary for the drop shadow otherwise it gets clipped in certain cases. */

/* Top Half of card, image. */

.property-image
{
  height:15em;
  width:14em;
  padding:1em 2em;
  position:Absolute;
  top:0px;
  transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  background-image: url('https://cdn.pixabay.com/photo/2016/11/29/05/45/astronomy-1867616__340.jpg'); 
  background-size:cover;
  background-repeat:no-repeat;
}

/* Bottom Card Section */

.property-description
{
  background-color: #FAFAFC;
  height:12em;
  width:14em;
  position:absolute;
  bottom:0em;
  transition:all 0.8s cubic-bezier(0.645, 0.045, 0.355, 1);
  padding: 0.5em 1em;
  text-align:center;
}



.property-social-icons
{
  display: flex;
  justify-content: center;
  position:absolute;
  bottom:1em;
  left:1em;
  transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.join{
  position: relative;
  left: 3em;
  top: 1em;
  margin-top: 10px;
  width: 100px;
  height: 25px;
  border-radius: 4px;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
  border: none;
  background-color: #9C27B0;
  font-weight: bolder;
  color: #f1f1f1;
}

.join:hover {
  background-color: lavender;
  color: #9C27B0;
}

/* Property Cards Hover States */

.property-card:hover .property-description
{
  height:0em;
  padding:0px 1em;
}
.property-card:hover .property-image
{
  height:18em;
}


.property-card:hover .property-social-icons:hover
{
  cursor:pointer;
}

@media (max-width: 922px){
 .join{
   display: inline;
 }

 .cardcontainer{
  display: flex;
  justify-content: space-evenly;
  justify-items: center;
 }
}

@media (max-width: 922px){

}
